/* Page Settings */
body {
  background-color: #01695b;
}

.site-content {
  padding-left: 100px;
  padding-right: 100px;
  vertical-align: middle;
  margin-top: 110px;
  width: 100%;
}

:root {
  --green: #01695b;
  --black: #2b1307;
  --white: #fff7df;
  --dark-green: #1b241d;
  --brown: #7e4210;
  --pink: #975653;
  --red: #580205;
  --cream: #efba8e;
  --light-brown: #e89c60;
  --medium-brown: #cb7226;
  --grey: gray;
  --screenheight: 0;
  --screenwidth: 0;
}
/************/

/* Navigation Bar */
.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--dark-green);
  color: var(--white);
  height: calc(6.25px * var(--screenheight));
  padding: calc(1px * var(--screenheight));
  width: 100%;
}

.web-title {
  font-size: calc(2px * var(--screenheight));
}

.degen {
  margin-left: calc(2px * var(--screenheight));
}

.num-players-input {
  border: transparent;
  color: var(--white);
  background-color: transparent;
  width: calc(6.5px * var(--screenwidth));
  margin-left: calc(0.5px * var(--screenheight));
}
/************/

/* Action */

.actions {
  height: calc(42px * var(--screenheight));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-title {
  height: 10%;
  margin-bottom: 2%;
  border: transparent;
  background-color: var(--medium-brown);
  color: var(--white);
  font-size: calc(1.2px * var(--screenheight));
  border-radius: calc(0.5px * var(--screenheight));
}

.actions-row {
  height: 8.3%;
}

.position {
  width: calc(15px * var(--screenwidth));
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: calc(0.8px * var(--screenheight));
  border-radius: calc(0.5px * var(--screenheight));
}
.position-off {
  background-color: var(--dark-green);
  color: var(--white);
}
.position-on {
  background-color: var(--cream);
  color: var(--red);
}
.position-dead {
  background-color: var(--grey);
  color: var(--white);
}

.action {
  width: calc(6.75px * var(--screenwidth));
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: calc(0.8px * var(--screenheight));
  border-radius: calc(0.5px * var(--screenheight));
  margin-left: calc(1.4px * var(--screenwidth));
}
.action-off {
  background-color: var(--dark-green);
  color: var(--white);
}
.action-on {
  background-color: var(--cream);
  color: var(--black);
}

.action-dead {
  background-color: var(--grey);
  color: var(--white);
}

/************/

/* Matrix */
.matrix {
  height: calc(42px * var(--screenheight));
  width: calc(42px * var(--screenheight));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: calc(3px * var(--screenwidth));
  margin-right: calc(2px * var(--screenwidth));
}

.matrix-cell {
  width: calc(2.7px * var(--screenheight));
  height: calc(2.7px * var(--screenheight));
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: calc(0.7px * var(--screenheight));
  border-radius: calc(0.4px * var(--screenheight));
  margin-right: calc(1px * var(--screenwidth));
}

.matrix-cell:hover {
  width: calc(2.7px * var(--screenheight));
  height: calc(2.7px * var(--screenheight));
  text-align: center;
  vertical-align: middle;
  background-color: var(--pink);
  color: var(--white);
  font-size: calc(0.7px * var(--screenheight));
  border-radius: calc(0.4px * var(--screenheight));
  margin-right: calc(1px * var(--screenwidth));
}

.hand-F {
  background-color: var(--white);
  color: var(--black);
}
.hand-R {
  background-color: var(--red);
  color: var(--white);
}
.hand-C {
  background-color: var(--medium-brown);
  color: var(--white);
}
.hand-B {
  background-color: var(--dark-green);
  color: var(--white);
}

/************/

/* Right Panel */
.right-panel {
  height: calc(42px * var(--screenheight));
}
.curr_hand {
  width: calc(33.5px * var(--screenwidth));
  height: 50%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: calc(3px * var(--screenheight));
  border-radius: calc(1px * var(--screenheight));
}
.suggestion {
  font-size: calc(2.5px * var(--screenwidth));
}

.legend-container {
  margin-top: calc(0.8px * var(--screenheight));
  margin-bottom: calc(0.8px * var(--screenheight));
  background-color: var(--dark-green);
  border-radius: calc(1px * var(--screenheight));
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.legend-box {
  height: 80%;
  width: 80%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(1px * var(--screenheight));
}
.legend-color {
  height: calc(1.5px * var(--screenheight));
  width: calc(1.5px * var(--screenheight));
  border-radius: calc(0.6px * var(--screenheight));
  margin-right: calc(1px * var(--screenheight));
  margin-bottom: calc(0.5px * var(--screenheight));
  border: calc(0.15px * var(--screenheight)) solid var(--white);
}
.l-0 {
  background-color: var(--red);
}
.l-1 {
  background-color: var(--medium-brown);
}
.l-2 {
  background-color: var(--dark-green);
}
.l-3 {
  background-color: var(--white);
}

.hand-history {
  border-radius: calc(1px * var(--screenheight));
  color: var(--white);
  background-color: var(--dark-green);
  height: 35%;
  padding: calc(1px * var(--screenheight));
}

.block {
  height: calc(10px * var(--screenheight));
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 4px;
  font-size: 13px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5.6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3.2px;
  background-color: rgba(0, 0, 0, 0.5);
}

/************/

/************/

.selected {
  border-radius: 0px;
}

.page {
  color: var(--white);
  background-color: transparent;
  border: transparent;
  font-size: 12px;
  margin-right: 16px;
}

.nav {
  margin-right: 12px;
}
/************/
