/* Page Settings */
body {
  background-color: #01695b;
}

.site-content {
  padding-left: 100px;
  padding-right: 100px;
  vertical-align: middle;
  margin-top: 110px;
  width: 100%;
}

:root {
  --green: #01695b;
  --black: #2b1307;
  --white: #fff7df;
  --dark-green: #1b241d;
  --brown: #7e4210;
  --pink: #975653;
  --red: #580205;
  --cream: #efba8e;
  --light-brown: #e89c60;
  --medium-brown: #cb7226;
  --grey: gray;
}
/************/

/* Navigation Bar */
.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--dark-green);
  color: var(--white);
  height: 85px;
  padding: 14px;
  width: 100%;
}

.web-title {
  font-size: 30px;
}

.degen {
  margin-left: 4vw;
}

.num-players-input {
  border: transparent;
  color: var(--white);
  background-color: transparent;
  width: 50px;
  margin-left: 0.5vw;
}
/************/

/* Action */

.actions {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-title {
  height: 10%;
  margin-bottom: 2%;
  border: transparent;
  background-color: var(--medium-brown);
  color: var(--white);
  font-size: 18px;
  border-radius: 8px;
}

.actions-row {
  height: 9%;
}

.position {
  width: 7vw;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: 12px;
  border-radius: 1vh;
}
.position-off {
  background-color: var(--dark-green);
  color: var(--white);
}
.position-on {
  background-color: var(--cream);
  color: var(--red);
}
.position-dead {
  background-color: var(--grey);
  color: var(--white);
}

.action {
  width: 3.5vw;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 0.7vw;
}
.action-off {
  background-color: var(--dark-green);
  color: var(--white);
}
.action-on {
  background-color: var(--cream);
  color: var(--black);
}

.action-dead {
  background-color: var(--grey);
  color: var(--white);
}

/************/

/* Matrix */
.matrix {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 1.5vw;
}

.matrix-cell {
  width: 5.4vh;
  height: 5.4vh;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: 1.6vh;
  border-radius: 4px;
  margin-right: 0.5vw;
}

.matrix-cell:hover {
  width: 5.4vh;
  height: 5.4vh;
  text-align: center;
  vertical-align: middle;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.6vh;
  border-radius: 4px;
  margin-right: 0.5vw;
}

.hand-F {
  background-color: var(--white);
  color: var(--black);
}
.hand-R {
  background-color: var(--red);
  color: var(--white);
}
.hand-C {
  background-color: var(--medium-brown);
  color: var(--white);
}
.hand-B {
  background-color: var(--dark-green);
  color: var(--white);
}

/************/

/* Right Panel */
.right-panel {
  height: 81vh;
}
.curr_hand {
  width: 16.7vw;
  height: 50%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  font-size: 48px;
  border-radius: 12px;
}
.suggestion {
  font-size: 20px;
}

.legend-container {
  margin-top: 1.3vh;
  margin-bottom: 1.3vh;
  background-color: var(--dark-green);
  border-radius: 8px;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.legend-box {
  height: 80%;
  width: 80%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vh;
}
.legend-color {
  height: 3vh;
  width: 3vh;
  border-radius: 9px;
  margin-right: 9px;
  margin-bottom: 1vh;
  border: 1.6px solid var(--white);
}
.l-0 {
  background-color: var(--red);
}
.l-1 {
  background-color: var(--medium-brown);
}
.l-2 {
  background-color: var(--dark-green);
}
.l-3 {
  background-color: var(--white);
}

.hand-history {
  border-radius: 12px;
  color: var(--white);
  background-color: var(--dark-green);
  height: 35%;
  padding: 12px;
}

.block {
  height: 140px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 4px;
  border-radius: 12px;
  font-size: 13px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5.6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3.2px;
  background-color: rgba(0, 0, 0, 0.5);
}

/************/

/************/

.selected {
  border-radius: 0px;
}

.page {
  color: var(--white);
  background-color: transparent;
  border: transparent;
  font-size: 12px;
  margin-right: 16px;
}

.nav {
  margin-right: 12px;
}
/************/
